$pt-intent-success: #59A70B;
$pt-intent-danger: #D5537A;
$pt-intent-warning: #F19A60;
$pt-intent-primary: #0a9ab1;

$color-primary-1: #F19A60;
$color-hover-1: #C5601D;
$color-disabled-1: #F9D7BF;

$color-primary-2: #26403c;
$color-secondary-2: #95a09f;
$color-secondary-2-2: #acb3b2;

$color-primary-3: #fff;
$color-secondary-3: #f6f7fb;

$color-primary-4: #319cc4;
$color-secondary-4: #68b7d5;

$color-primary-5: #e34396;
$color-secondary-5: #d67fad;

$color-primary-6: #602a4b;
$color-secondary-6: #dbbfcd;

$color-text-primary: #30212e;
$color-text-muted: #5c7080;
//$pt-intent-primary: $blue3 !default;
//$pt-intent-success: $green3 !default;
//$pt-intent-warning: $orange3 !default;
//$pt-intent-danger: $red3 !default;

//$color-sample-curated-bg: #7bdab3;
$color-sample-curated-bg: rgba($pt-intent-success, .5);
$color-sample-curated-text: white;

//$color-sample-conflict-bg: #bfab56;
$color-sample-conflict-bg: rgba($pt-intent-warning, .5);
$color-sample-conflict-text: white;

$hm-045: #f8e9db;
$hm-040: #f8e9db;
$hm-035: #f4ba96;
$hm-030: #f2855d;
$hm-025: #ea493e;
$hm-020: #c91b4e;
$hm-015: #941c5a;
$hm-010: #5f1f51;
$hm-005: #30173a;
$hm-000: #03051a;

$pt-heading-color: #602A48;


:export {
  color-primary-2: $color-primary-2;
  color-primary-5: $color-primary-5;
  color-disabled-1: $color-disabled-1;
  pt-intent-success: $pt-intent-success;
  pt-intent-danger: $pt-intent-danger;
  pt-intent-warning: $pt-intent-warning;
  pt-intent-primary: $pt-intent-primary;
  color-text-muted: $color-text-muted;
  hm-045: $hm-045;
  hm-040: $hm-040;
  hm-035: $hm-035;
  hm-030: $hm-030;
  hm-025: $hm-025;
  hm-020: $hm-020;
  hm-015: $hm-015;
  hm-010: $hm-010;
  hm-005: $hm-005;
  hm-000: $hm-000;
}