terraform.tfvars
.idea

.terraform
.venv
lambda.zip
flask-app.zip
infrastructure/aws/.terraform
.env
node_modules
app/static/dist
junk
docker_log
lab-portal.log
tests/coverage
scratch
.coverage
htmlcov