* {
  list-style: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: $helper-color-1;
}

#keys {
  position: relative;
}

.cn-wrapper {
  z-index: 10;
  width: 27em;
  height: 27em;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
  li {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin-top: -1.6em;
    margin-left: -10em;
    width: 10em;
    height: 10em;
    font-size: 1.5em;
    transform: rotate(76deg) skew(60deg);
    transform-origin: 100% 100%;
    pointer-events: none;
    button {
      position: relative;
      display: block;
      width: 100%;
      margin: auto;
      font-size: .6em;
      font-weight: 700;
    }
    button:nth-child(1) {
      height: 10%;
    }
    button:nth-child(2) {
      height: 20%;
    }
    button.recommended:not(:disabled) {
      background-color: white;
      animation: recommended 2s infinite alternate;
    }
    span {
      position: absolute;
      right: -7.25em;
      bottom: -7.25em;
      display: block;
      width: 14.5em;
      height: 14.5em;
      border-radius: 50%;
      color: $font-color;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
      line-height: 2;
      transform: skew(-60deg) rotate(-75deg) scale(1);
      backface-visibility: hidden;
      pointer-events: auto;
    }
  }
}

.opened-nav {
  border-radius: 50%;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  li {
    transition: all .3s ease .3s;
    @for $i from 1 through $menu_items {
      &:nth-child(#{$i}) {
        transform: rotate(#{($i * $rotation + $offset)}deg) skew(60deg);
      }
    }
  }
}