{#<body>#}
{#<table border="1">#}
{#    <caption>Error Report: {{ environment }}</caption>#}
{##}
{#    <thead>#}
{#    <tr>#}
{#        <th>Error</th>#}
{#        <th>Trace</th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    {% for error in errors %}#}
{#        <tr>#}
{#            <td style="width: 30%">#}
{#                {{ error[0] }}#}
{#            </td>#}
{#            <td style="width: 50%">#}
{#                <pre>{{ error[1] }}</pre>#}
{#            </td>#}
{#        </tr>#}
{#    {% endfor %}#}
{#    </tbody>#}
{#</table>#}
{#</body>#}